.site-nav {
    display: flex;
    gap: 1rem;
    padding: 0.75rem 1rem;
    box-shadow: var(--box-shadow-md);
}

.logo-container {
    display: flex;
    max-width: fit-content;
}

.nav-logo {
    border-radius: 50%;
    max-width: 100px;
    box-shadow: 0px var(--box-shadow-md);
}

.title-container {
    display: flex;
    max-width: fit-content;
    font-size: larger;
    margin-trim: inline;
}

.site-title {
    padding: 2px 0;
    text-shadow: var(--box-shadow-md);
    text-decoration: none;
    color: var(--primary);
}

.image-container {
    height:900px;
    max-width: 100%;
    background-image: url("../assets/images/LynnBeach.webp");
    image-rendering: auto;
    background-size: cover;
    box-shadow:  var(--box-shadow-md);
}

.image-container:hover {
    height:900px;
    max-width: 100%;
    transition-delay: 0.7s;
    background-image: url("../assets/images/beautiful-sunset-over-the-lynn-waterfront-and-red-rock-park-lynn-ma-toby-mcguire.jpg");
    background-position: 20%;
    image-rendering: auto;
    background-size: cover;
    box-shadow:  var(--box-shadow-md);
}