.header {
    /* header properties */
    border: none;
    max-width: 100%;
    height: 600px;
    justify-content: center;



    /* background image */
    background-image: url("/assets/images/LynnBeach.webp");
    background-repeat: no-repeat;
    background-size: cover;
}


#seal {
    width: 200px;
    margin: 30px 45px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px var(--primary-300
    );
}

.main {
    display: flex;
    margin: auto;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

#main-item-1 {
    width: 300px;
}

